doctype html 
html(lang="ko")
    head 
        title base | Swhub
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    body 
        header
            a(href="/").header__logo
                i.fab.fa-github
        main
            if errorMessage
                span=errorMessage
            block content