extends base

block content
    section.join
        form(method="POST", action="/users/")
            label(for="join_email") 이메일
            input#join_email(type="email", placeholder="이메일 주소", name="email", required)
            label(for="join_id") 아이디
            input#join_id(type="text", placeholder="별명", name="username", required)
            label(for="join_pw") 비밀번호
            input#join_pw(type="password", placeholder="비밀번호 입력하세요",name="password", required)
            label(for="join_pw2") 비밀번호 확인
            input#join_pw2(type="password", placeholder="비밀번호 재입력",name="password2", required)
            button#join_btn 회원가입
            button#join_login(onclick="location.href='/login'") 로그인