extends base

block content
    form(method="POST")
        input(type="text", placeholder="유저네임(아이디)", name="username", required)
        input(type="password", placeholder="비밀번호 입력하세요",name="password", required)
        input(type="submit", value="로그인")
    div.auth-switch
        span 계정이 없습니까? 
        a(href="/join") 로그인 &rarr;