extends base

block content
    section.login
        form(method="POST")
            label(for="login_id") 아이디
            input#login_id(type="text", placeholder="유저네임(아이디)", name="username", required)
            label(for="login_pw") 비밀번호
            input#login_pw(type="password", placeholder="비밀번호 입력하세요",name="password", required)
            button#login_btn 로그인
            button#login_join(onclick="location.href='/join'") 회원가입